{% extends 'base.html.twig' %}

{% block body %}

    {#--------------- Banner Section---------- #}

    <section id="banner">
        <div class="inner">
            <h1>The Open Movie Database </h1>

            <ul class="actions">
                <li><a href="{{ path('app_homepage') }}" class="button alt">Get Started</a></li>
            </ul>
        </div>
    </section>
    {#--------------- Banner Section ends---------- #}


{% endblock %}

