{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
<section class="main">

    <div class ="container">
    <h2>Create new Genre</h2>

    {{ include('genre/_form.html.twig') }}

    <a href="{{ path('genre_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
