<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       {#  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href={{ asset('css/app.css') }}>
    {% endblock %}
</head>
<body>
{#--------------- Header Section---------- #}
<div id = "page-container">
    <div id = "content-wrap">
<header id="header">
    <div class="inner">
        <a href="#" class="logo">Movies Now.</a>
        <nav id="nav">
            <a href="{{path('app_homepage') }}">Home</a>
        </nav>
    </div>
</header>


{#--------------- Flash Messages--------- #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}


{% block body %}{% endblock %}
    </div>
<footer class="mt-5 p-3 text-center">
    Made with <i style="color: #e5474b;" class="fa fa-heart"></i> Sana <a style="color: #e5474b; text-decoration: underline;" href="https://github.com/SanaGaikwad/Movies-WebApp/tree/master" target="_blank">GitHub</a>
</footer>
</div>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>
