{% extends 'base.html.twig' %}

{% block title %}Edit Director{% endblock %}

{% block body %}
<section class="main">

    <div class ="container">
    <h2>Edit Director</h2>


  {{ include('director/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('director/_delete_form.html.twig') }}


        <a href="{{ path('director_index') }}">back to list</a>
    </div>
</section>
{% endblock %}
